{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'two' %}
{% block content %}
<h2 class="sub-header">Editar Categoría</h2>
{% form_theme edit_form 'POIWebAppBundle:Form:interactiveFiledsTemplate.html.twig' %}
    {{ form(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('poi_categroy') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
