{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'two' %}

{% block content %}
<h2 class="sub-header">Crear Categoria</h2>
{% form_theme form 'POIWebAppBundle:Form:interactiveFiledsTemplate.html.twig' %}
    {{ form(form) }}
{% endblock %}
