{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'three' %}
{% block content %}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('poi_user') }}">
            Home
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
