{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'three' %}
{% block content %}
<h2 class="sub-header">Editar Usuario</h2>
{% form_theme edit_form 'POIWebAppBundle:Form:interactiveFiledsTemplate.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}
