{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'three' %}
{% block content %}
    <h1>Crear Usuario</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('poi_user') }}">
            Home
        </a>
    </li>
</ul>
{% endblock %}
