{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'one' %}
{% block content %}
<h2 class="sub-header">Crear Punto de Interés</h2>
{% form_theme form 'POIWebAppBundle:Form:interactiveFiledsTemplate.html.twig' %}
    {{ form(form) }}
{% endblock %}
